:root {
    --mainGreen: #149545;
    --mainRed: #F0342B;
    --mainOrange: #F68C34;
    --mainYellow: #FFBD4A;
    --mainBlack: #202020;
    --mainWhite: #F4F4F4;
}

body {
    font-family: 'Signika Negative', sans-serif !important;
}

header {
    background-color: var(--mainWhite);
}

nav.navbar {
    background-color: var(--mainYellow);
}

.card > img {
    width: 350px;
    height: 250px;
}

#cartItemsList li {
    margin-bottom: 10px;
}

/*Personalización del ScrollBar*/
body::-webkit-scrollbar {
    width: 15px; /*-Ancho de todo el scrollbar-*/
}
body::-webkit-scrollbar-track {
    background: var(--mainBlack); /*-Color del fondo del scrollbar-*/
}
body::-webkit-scrollbar-thumb {
    background-color: var(--mainWhite); /*-Color del scrollbar en si-*/
}




@media (min-width: 769px) and (max-width: 1024px) { /*Media Queries para portátiles*/
    .card {
        width: 280px;
    }
    .card > img {
        width: 280px;
        height: 210px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) { /*Media Queries para portátiles L*/
    .card {
        width: 305px;
    }
    .card > img {
        width: 305px;
        height: 230px;
    }
}

@media (min-width: 426px) and (max-width: 768px) { /*Media Queries para tablets*/
    .card {
        width: 300px;
    }
    .card > img {
        width: 300px;
        height: 210px;
    }
}

@media (min-width: 376px) and (max-width: 425px) { /*Media Queries para moviles L*/
    .card {
        width: 300px;
    }
    .card > img {
        width: 300px;
    }
}

@media (min-width: 321px)  and (max-width: 375px) { /*Media Queries para moviles M*/
    .card {
        width: 280px;
    }
    .card > img {
        width: 280px;
    }
}

@media (max-width: 320px) { /*Media Queries para moviles S*/
    .card > img {
        width: 290px;
    }
}