:root {
    --mainGreen: #149545;
    --mainRed: #F0342B;
    --mainOrange: #F68C34;
    --mainYellow: #FFBD4A;
    --mainBlack: #202020;
    --mainWhite: #F4F4F4;
}

body {
    font-family: 'Signika Negative', sans-serif !important;
}

/*Personalización del ScrollBar*/
body::-webkit-scrollbar {
    width: 15px; /*-Ancho de todo el scrollbar-*/
}
body::-webkit-scrollbar-track {
    background: var(--mainBlack); /*-Color del fondo del scrollbar-*/
}
body::-webkit-scrollbar-thumb {
    background-color: var(--mainWhite); /*-Color del scrollbar en si-*/
}